<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="travelTrip">
            <h2><span jhiTranslate="memorytripApp.travelTrip.detail.title">Travel Trip</span> {{ travelTrip.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="memorytripApp.travelTrip.title">Title</span></dt>
                <dd>
                    <span>{{ travelTrip.title }}</span>
                </dd>
                <dt><span jhiTranslate="memorytripApp.travelTrip.description">Description</span></dt>
                <dd>
                    <span>{{ travelTrip.description }}</span>
                </dd>
                <dt><span jhiTranslate="memorytripApp.travelTrip.travelImage">Travel Image</span></dt>
                <dd>
                    <div *ngIf="travelTrip.travelImageId">
                        <a [routerLink]="['/file', travelTrip.travelImageId, 'view']">{{ travelTrip.travelImageId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="memorytripApp.travelTrip.user">User</span></dt>
                <dd>
                    {{ travelTrip.userId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/travel-trip', travelTrip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
