<div class="row">
    <div class="col-12">
        <div>
            <jhi-alert-error></jhi-alert-error>
        </div>
        <form name="editForm" class="col-12" role="form" novalidate>
            <div class="row">
                <div class="col-8 form-group">
                    <div class="mb-3">
                        <label for="travelTitle">Title</label>
                        <input type="text" class="form-control" name="title" id="travelTitle" required />
                    </div>
                    <div>
                        <label for="travelDescription">Description</label>
                        <textarea name="description" class="form-control" id="travelDescription" rows="4" required></textarea>
                    </div>
                </div>
                <div class="col-4">
                    <img class="travel-image" src="../../../../content/images/no-img.jpg" />
                </div>
            </div>
        </form>
    </div>
</div>
